# Python caches
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# PyInstaller build folder
build/

# Ignore logs, DBs
*.log
*.sqlite3

# IDE config
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
Desktop.ini

*.exe